
.filter-container {
    width: 100%;
    height: 180px;
    padding: 10px;
}

.filter {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.filter-title {
    width: 100%;
    height: 40px;
    display: flex;
}

.filter-title-text {
    flex: 1;
    display: flex;
    align-items: center;
}

.filter-title-btn {
    width: 40px;
}

.filter-price{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-price-inputs{
    width: 100%;
    height: 60px;
    display: flex;
}

.filter-price-container{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.filter-price-text-container {
    width: 100%;
    height: 14px;
    font-size: 10px;
}

.filter-price-input-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.filter-price-input{
    width: 80%;
    height: 90%;
    background-color: #eaeaf1;
    border-radius: 3px;
}

.filter-price-input > input {
    width: 75%;
    height: 100%;
    border: none;
    background-color: transparent;
    padding-left: 25%;
}

.filter-price-input > input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.filter-button-container{
    flex: 1;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter-button{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50px;
    background-color: var(--green-1);
    cursor: pointer;
    color: white;
}

.filter-button:hover{
    background-color: var(--orange-1);
    color: black;
}


#input-range-container{
    width: 100%;
    height: 5px;
    margin: 0;
    padding: 0;
}

#input-slider-container{
    width: 100%;
    height: 100%;
    border: 1px solid #efefef;
    background-color: rgb(232, 232, 232);
}

#input-slider{
    height: 100%;
    background-color: var(--green-1);
}

.input-range {
    width: 100%;
    height: 100%;
    position: relative;
}

.input-range input {
    position: absolute;
    width: 100%;
    top: -7px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}

.input-range input::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
}
.input-range input::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    pointer-events: auto;
    -moz-appearance: none;
}

#input-range-from::-webkit-slider-thumb {
    border: 3px solid var(--green-1);
    background-color: var(--green-1);
}

#input-range-to::-webkit-slider-thumb {
    border: 3px solid var(--green-1);
    background-color: #fff;
}
