.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.products{
    display: flex;
    height: calc(100% - 60px);
}

.left {
    width: 170px;
    display: flex;
    border: 0.2px solid var(--green-2);
}

.right {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}


