.btn {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn:focus {
    outline: none;
    background-color: whitesmoke;
}

.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--green-1);
}

.navbar-logo{
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo > img {
    width: 140px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.navbar-search-bar{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.navbar-sb{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 50px;
    border: 1px solid var(--green-1);
    display: flex;
}

.navbar-sb-input-container {
    width: calc(100% - 60px);
    display: flex;
    align-items: center;
}

.navbar-sb-btn {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-sb-btn > button {
    width: 100%;
    height: 100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.navbar-sb-btn > button:hover {
    background-color: whitesmoke;
}
.navbar-sb-btn > button > img {
    width: 30px;
}

.navbar-sb-input {
    width: 100%;
    height: 50%;
    border: none;
    padding-left: 30px;
    background-color: transparent;
    font-size: 15px;
}
.navbar-sb-input:focus {
    outline: none;
}

.navbar-buttons {
    width: 270px;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.navbar-btn {
    height: 100%;
    width: 90px;
    display: flex;
}
.navbar-btn:hover {
    background-color: whitesmoke;
}

.navbar-btn-icon {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-btn-icon > img {
    width: 26px;
}

.navbar-btn-text {
    flex: 1;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

















