:root{
    --p-heigth: 350px;
    --p-width: 250px;
}

.products-grilla {
    display: grid;  
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(3, 350px);
    column-gap: 10px;
    row-gap: 20px;
    justify-content: space-evenly;
}

.products-pages-container {
    margin-top: 40px;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 50px;
}

.products-paginator {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.products-page {
    width: 35px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-page-number {
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
}

.products-page-number-current {
    background-color: var(--green-1);
    color: white;
}

.products-page-number:hover {
    background-color: var(--orange-1);
    color: black;
}

@media all and (max-width: 1240px) {
    .products-grilla {
        grid-template-columns: repeat(3, 250px);
        grid-template-rows: repeat(4, 350px);
    }
}

@media all and (max-width: 980px) {
    .products-grilla {
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: repeat(5, 350px);
    }
}

@media all and (max-width: 718px) {
    .products-grilla {
        grid-template-columns: repeat(1, 250px);
        grid-template-rows: repeat(6, 350px);
    }
}

.product{
    z-index: 0;
    border-radius: 5px;
    cursor: pointer;
    border-top: 1px solid gainsboro;
}

.product:hover {
    box-shadow: 0px 5px 20px #b3b3b3;
}

.product-offert {
    margin-top: 5px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.product-image {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-name {
    width: 100%;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.product-description {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
.product-desc-cant{
    margin-top: 20px;
    color: #8a8a8a;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: white;
}
.product-desc{
    background-color: white;
    color: #9b9b9b;
}

.product-price {
    background-color: white;
    width: 100%;
    height: 30px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: var(--green-1);
}

.product-add-cart-container{
    width: 100%;
    height: 70px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.product-add-cart-container > button{
    width: 200px;
    height: 40px;
    background-color: var(--orange-1);
    border: 1px solid gray;
    border-radius: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.product-add-cart-container > button:hover {
    background-color: var(--orange-2);
}

.product-add-cart-container > button > div{
    height: 20px;
    background-color: transparent;
    margin-right: 5px;
}


.product-is-offert{
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

.product-fav{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-offert-icon{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: var(--red-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: white;
}

.product-fav-icon{
    width: 25px;
    height: 25px;
}

